<article itemprop="hasPart" itemscope itemtype="https://schema.org/SocialMediaPosting" class="mbl" style="overflow:hidden;background:white;display:block">
	<h2 itemprop="headline" class="ow cxl lsp clb nos" style="text-align:center;overflow:hidden;padding:8px 5px;margin:0;font-weight:300"><bdi>{{ image_caption }}</bdi></h2>
	<div style="overflow:hidden;background:whitesmoke;border-top:1px solid #F0F0F0;border-bottom:1px solid #F0F0F0;max-width:450px;margin:0 auto;">
		<div style="display: block;overflow:hidden;position: relative;padding-bottom:{{ ratio }}%;height: 0;text-align:center">
			<img style="width: 100%;" itemprop="image" src="{{ image_url }}" alt="{{ alt_text }}">
		</div>
	</div>
</article>